@model ShoppingCart

<form id="form" method="post">
      <div>
            <div class="my-3">
                <a asp-controller="Home" asp-action="Index" class="btn btn-primary">BACK TO HOME</a>
            </div>
            <div class="row border-0 shadow my-1">
                 <div class="col-12 rounded">
                     <p class="text-center fs-4 rounded-top bg-success-subtle">@Model.Product.Title</p>
                </div >
                 <div class="col-12 d-flex flex-row align-items-center mx-5 my-3" style="min-height:600px">
                    <div class=" d-flex flex-column rounded my-1">
                    <img class="img-fluid border-3 " src="@(Model.Product.ProductImages.Count != 0 && Model.Product.ProductImages!= null?Model.Product.ProductImages.FirstOrDefault().ImageUrl:"\\images\\product\\noImage.jpg" )" style="object-fit:contain;width:300px;height:500px" alt="Book images" />
                    </div>
                        <div class="col-6 p-2  d-flex flex-grow-1 flex-column mx-5">
                            <p class="text-start fs-3 align-self-start">By: @Model.Product.Author.ToUpper()</p>
                            <p class="text-start  align-self-start">ISBN: @Model.Product.ISBN</p>
                            <p class="text-center  align-self-start rounded-2 bg-primary text-white">@Model.Product.Category.Name</p>
                            <p class="text-start fs-6 align-items-center">List Price: @Model.Product.Price.ToString("c")</p>

                            <table class="mb-3 ">
                                <thead class=" border-bottom">
                                    <tr>
                                        <th class="text-center">
                                            Quantity
                                        </th>
                                        <th class="text-center">
                                            1 - 50
                                        </th>
                                        <th class="text-center">
                                            51 - 100
                                        </th>
                                        <th class="text-center">
                                            100+
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-center">
                                            @Model.Product.ListPrice.ToString("c")
                                        </td>
                                        <td class="text-center">
                                            @Model.Product.Price.ToString("c")
                                        </td>
                                        <td class="text-center">
                                            @Model.Product.Price50.ToString("c")
                                        </td>
                                        <td class="text-center">
                                            @Model.Product.Price100.ToString("c")
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="row" style="max-width:500px">
                                <p style="overflow-wrap:break-word " class="text-dark">
                                    <span class="fw-bold">Description: </span> @Html.Raw(Model.Product.Description)
                                </p>
                            </div>
                            <div class="row ">
                                <div class="col-3">
                                    <div class="input-group input-group-sm mb-3">
                                        <span class="input-group-text bg-primary-subtle fw-bold" id="basic-addon1">Count</span>
                                        <input id="numberValidation" type="number" asp-for = "Count" class="form-control text-center" style="width:40px" placeholder="0" aria-label="Username" aria-describedby="basic-addon1" >
                                    </div>
                                </div>
                            </div>

                            <input hidden asp-for = "ProductId"></input>
                            <input hidden asp-for="Id" value="@Model.Id"></input>
                            <div class="row " style="max-width:300px">
                                <button type="submit" asp-controller="Home"  asp-action="Details" class="text-uppercase btn btn-primary">add to cart</button>
                            </div>

                        </div>
                </div>
            </div>
      </div>
</form>

@section Scripts{
    <script>
        $("#form").submit(function(event) {
            if ($("#numberValidation").val() < 1) {
                alert("Count cannot be negative");
                event.preventDefault();
            }
        });
    </script>
}
